.comment {
  display: flex;
  margin-top: 2rem;

  .user--avatar {
    height: 2.5rem;
    width: 2.5rem;
  }

  &--info {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-left: .5rem;
    color: #4E4E4E;

    &--user-name {
      font-weight: bold;
    }
  }
}
