<div class="home">
  <header>
    <img src="assets/images/LOGO.svg" alt="Logo">
  </header>

  <main>
    <ng-container *ngFor="let postIt of postItList">
      <app-post-it
        (postItSelected)="printOutput($event)"
        [postIt]="postIt"
        (click)="openPostItModal(postIt)"
      ></app-post-it>
    </ng-container>
  </main>

  <div class="home--new-post-it">
    <div class="home--new-post-it--item" [style.background]="colorEnum.ORANGE" (click)="openNewPostItModal(colorEnum.ORANGE)"></div>
    <div class="home--new-post-it--item" [style.background]="colorEnum.ROSE" (click)="openNewPostItModal(colorEnum.ROSE)"></div>
    <div class="home--new-post-it--item" [style.background]="colorEnum.GREEN" (click)="openNewPostItModal(colorEnum.GREEN)"></div>
    <div class="home--new-post-it--item" [style.background]="colorEnum.YELLOW" (click)="openNewPostItModal(colorEnum.YELLOW)"></div>
    <div class="home--new-post-it--item" [style.background]="colorEnum.BLUE" (click)="openNewPostItModal(colorEnum.BLUE)"></div>
    <div class="home--new-post-it--item" [style.background]="colorEnum.PURPLE" (click)="openNewPostItModal(colorEnum.PURPLE)"></div>
  </div>
</div>
