.home {
  header {
    display: flex;
    justify-content: center;

    width: 100%;
    margin-top: 1rem;

    img {
      width: 5rem;
    }
  }

  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 2rem;
    padding: 0 2rem;
    gap: 0 .5rem;

    app-post-it {
      &:nth-child(n + 3) {
        margin-top: -17rem;
      }
    }
  }

  &--new-post-it {
    position: fixed;
    left: 16rem;
    bottom: 15rem;

    display: flex;
    justify-content: center;

    transform: rotate(8deg);

    &--item {
      width: 12rem;
      height: 15rem;
      box-shadow: 0 2px 5px 2px #0000003d;

      position: absolute;
    }

    div:nth-child(1) {
      transform: rotate(-45deg) translateX(-6rem);
    }

    div:nth-child(2) {
      transform: rotate(-30deg) translateX(-4rem);
      top: 2rem;
    }

    div:nth-child(3) {
      transform: rotate(-20deg) translateX(-2rem);
      top: 2rem;
    }

    div:nth-child(4) {
      transform: rotate(-10deg) translateX(0rem);
      top: 2rem;
    }

    div:nth-child(5) {
      background-color: #A2C8E8;
      transform: rotate(0deg) translateX(2rem);
      top: 2rem;
    }

    div:nth-child(6) {
      transform: rotate(10deg) translateX(4rem);
      top: 2rem;
    }
  }
}
