<div class="profile-menu">
  <div class="profile-menu--content">
    <div class="profile-menu--content--exit">
      <a (click)="modalController.dismiss()">X</a>
    </div>
    <h3>Ajustes</h3>
    <div class="profile-menu--content--options">
      <a>
        Ajustes
      </a>
      <a>
        Ajustes
      </a>
      <a>
        Ajustes
      </a>
      <a (click)="redirectToHome()">
        Logout
      </a>
    </div>
  </div>
  <div class="profile-menu--logo">
    <img src="assets/images/LOGO.svg">
  </div>
</div>
