<div class="modal-post-it" [style.background]="color">
  <span *ngIf="create" class="modal-post-it--close" (click)="closeModal()">X</span>

  <span *ngIf="!create" class="modal-post-it--options" id="left-start">...</span>
  <ion-popover trigger="left-start" side="left" alignment="start" [dismissOnSelect]="true">
    <ng-template>
      <ion-content class="ion-padding modal-post-it--options-box">
        <ion-list>
          <ion-item button="true" detail="false" (click)="create = true">Editar</ion-item>
          <ion-item button="true" detail="false">Publicar no feed</ion-item>
          <ion-item button="true" detail="false" (click)="deletePostIt()">Excluir nota</ion-item>
          <ion-item button="true" detail="false" (click)="closeModal()">Fechar nota</ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-popover>

  <header>
    <input [readOnly]="!create"
           class="modal-post-it--title"
           type="text"
           [(ngModel)]="postIt.title"
           placeholder="Título da nota">
  </header>

  <main>
    <textarea [readOnly]="!create"
              class="modal-post-it--annotation"
              [(ngModel)]="postIt.annotation"
              placeholder="Inserir anotações aqui"></textarea>
  </main>

  <footer>
    <span (click)="sendPostIt()">Colar no Mural</span>
  </footer>
</div>
