<div class="login">
  <img class="background" src="assets/images/background-login.png">

  <img class="detail" src="assets/images/quadriculado.svg">
  <div class="container" [class.container-open]="isSignAccount">
    <ng-container *ngIf="!isSignAccount">
      <div class="container--login">
        <app-logo
          [src]="'assets/images/LOGO.svg'" [full]="false"></app-logo>

        <div class="container--login--inputs">
          <span>E-mail</span>
          <input (keydown.enter)="password.focus()" type="text" class="input-login" [(ngModel)]="loginPayload.email">
          <span>Senha</span>
          <input #password (keydown.enter)="login()" type="password" class="input-login" [(ngModel)]="loginPayload.password">
        </div>

        <ion-button class="button" [class.disabled]="!canLogin()" (click)="login()">
          {{ !isLoading ? 'confirmar' : 'carregando...'}}
          <app-half-circle-spinner
            *ngIf="isLoading"
            [animationDuration]="1000"
            [size]="25"
            [color]="'#ffffff'"
          ></app-half-circle-spinner>
        </ion-button>

        <p>Não possui conta? <a (click)="isSignAccount = !isSignAccount">Cadastre-se</a></p>
      </div>
    </ng-container>
    <ng-container *ngIf="isSignAccount">
      <div class="container--sign">
        <div class="container--sign--upside">
          <img src="assets/images/back-button-login.svg" (click)="isSignAccount = !isSignAccount">
          <app-logo src="assets/images/LOGO.svg"></app-logo>
        </div>
        <span>Nome</span>
        <input (keydown.enter)="emailRegister.focus()" type="text" class="input-login" [(ngModel)]="registerPayload.name">
        <span>E-mail</span>
        <input #emailRegister (keydown.enter)="confirmEmail.focus()" type="text" class="input-login" [(ngModel)]="registerPayload.email">
        <span>Confirme o E-mail</span>
        <input #confirmEmail (keydown.enter)="passwordRegister.focus()" type="text" class="input-login" [(ngModel)]="registerPayload.confirmEmail">
        <span>Senha</span>
        <input #passwordRegister (keydown.enter)="confirmPassword.focus()" type="password" class="input-login" [(ngModel)]="registerPayload.password">
        <span>Confirme a senha</span>
        <input #confirmPassword (keydown.enter)="register()" type="password" class="input-login" [(ngModel)]="registerPayload.confirmPassword">
        <div style="text-align: start">
          <p>*Campos obrigatórios</p>
          <p>Ao registrar-me concordo com os termos de uso a Política de Privacidade do aplicativo.</p>
        </div>
        <ion-button class="button" [class.disabled]="!canRegister()" (click)="register()">
          {{ !isLoading ? 'Criar conta' : 'carregando...'}}
          <app-half-circle-spinner
            *ngIf="isLoading"
            [animationDuration]="1000"
            [size]="25"
            [color]="'#ffffff'"
          ></app-half-circle-spinner>
        </ion-button>
      </div>
    </ng-container>
  </div>
</div>
