.background {
  width: 100%;
  height: 40vh;
  object-fit: cover;
}

.detail {
  position: absolute;
  top: -20px;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.container {
  position: absolute;
  bottom: 0;
  height: 65vh;
  width: 100%;
  transition: height 300ms ease;

  background-color: #ffffff;
  border-radius: 28px 28px 0 0;

  &--login {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 65vh;

    app-logo {
      width: 22%;
      margin: 2.8rem;

      @media screen and (min-width: 1000px) {
        width: 10%;
      }
    }

    &--inputs {
      display: flex;
      flex-direction: column;
      width: 80%;
    }

    p {
      color: #707070;
      margin-top: 2rem;
      font-size: .85rem;

      a {
        color: #2D9FDB;
        text-decoration: none;
      }
    }
  }


  &--sign {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 2rem 0 2rem;

    &--upside {
      display: flex;
      align-items: center;
      width: 100%;

      app-logo {
        width: 15%;
        margin-left: 2rem;
        //animation-name: logo-animation;
        //animation-duration: 2s;
      }
    }

    p {
      color: #707070;
      font-size: .85rem;
      font-weight: bold;
    }

    ion-button {
      width: 100%;
      height: 3.5rem;
      margin: .5rem 0 4rem 0;
    }
  }

}

.disabled {
  opacity: .5;
  pointer-events: none;
}

app-half-circle-spinner {
  margin-left: 1rem;
}

span {
  color: #707070;
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: .5rem;
  font-style: italic;
  font-size: .95rem;
  opacity: .6;
  padding-left: 1rem;
  width: 100%;
}

input {
  border: 1px solid #707070;
  background: transparent;
  outline: 0;
  border-radius: 20px;
  margin-bottom: 1rem;
  padding: .95rem;
  color: black;
  opacity: .6;
  width: 100%;
}

.container-open {
  height: 95vh;
}

@keyframes logo-animation {
  0% {
    width: 22%;
  }

  100% {
    position: absolute;
    width: 15%;
    margin-left: 2rem;
  }
}
